@font-face {
    font-family: 'ZagBoldRegular';
    src: url(../fonts/zag_bold-webfont.eot);
    src: url(../fonts/zag_bold-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/zag_bold-webfont.woff) format('woff'),
         url(../fonts/zag_bold-webfont.ttf) format('truetype'),
         url(../fonts/zag_bold-webfont.svg#ZagBoldRegular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyrLight';
    src: url(../fonts/helveticaneuecyr-light-webfont.eot);
    src: url(../fonts/helveticaneuecyr-light-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/helveticaneuecyr-light-webfont.woff) format('woff'),
         url(../fonts/helveticaneuecyr-light-webfont.ttf) format('truetype'),
         url(../fonts/helveticaneuecyr-light-webfont.svg#HelveticaNeueCyrLight) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyrThin';
    src: url(../fonts/helveticaneuecyr-thin-webfont.eot);
    src: url(../fonts/helveticaneuecyr-thin-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/helveticaneuecyr-thin-webfont.woff) format('woff'),
         url(../fonts/helveticaneuecyr-thin-webfont.ttf) format('truetype'),
         url(../fonts/helveticaneuecyr-thin-webfont.svg#HelveticaNeueCyrThin) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyrRoman';
    src: url(../fonts/helveticaneuecyr-roman-webfont.eot);
    src: url(../fonts/helveticaneuecyr-roman-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/helveticaneuecyr-roman-webfont.woff) format('woff'),
         url(../fonts/helveticaneuecyr-roman-webfont.ttf) format('truetype'),
         url(../fonts/helveticaneuecyr-roman-webfont.svg#HelveticaNeueCyrRoman) format('svg');
    font-weight: normal;
    font-style: normal;
}

/*_____common________________________________________*/

html, body{
	height:100%;
	font:1em HelveticaNeueCyrLight;
	color:#fff;
/* 	background:#000; */
}
body{
	margin:0;
}
#container{
	width:1200px;
	height:780px;
	margin:0 auto;
	background:#373532;
}
#corner{
	background: url(../img/corner.png);
	background-repeat:no-repeat;
	width:104px;
	height:83px;
	position:absolute;
	margin-left:1097px;
}

/*_____black________________________________________*/

#black{
	width:1200px;
	height:715px;
	margin:0;
	background:#000 url(../img/top.png);
	background-repeat:no-repeat;
	box-shadow:0px 6px 8px rgba(0,0,0,0.5); /* Параметры тени */
    -moz-box-shadow: 0 6px 8px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 6px 8px rgba(0,0,0,0.5); /* Для Safari и Chrome */
}
#logo{
	background: url(../img/logo.png);
	background-repeat:no-repeat;
	width:453px;
	height:156px;
	position:absolute;
	margin:25px 0 0 75px;
}
#main{
	overflow:hidden; 
	width:1123px;
	height:687px;
	margin:0 0 0 75px;
	position:absolute; 
}
#main2{
	overflow:hidden;
	width:1123px;
	height:687px;
	margin:0 0 0 75px;
	position:absolute; 
	display:none;
}
#main3{
	overflow:hidden;
	width:1123px;
	height:687px;
	margin:0 0 0 75px;
	position:absolute; 
	display:none; 
}
#text{
	position:absolute;
	margin-top:350px;
	width:560px;
	color:#D1D3D4;	
	font:0.9em HelveticaNeueCyrRoman;
	line-height:1.4em;
}
#main2 > #text{
	margin-top:305px;
}
#main3 > #text{
	margin-top:275px;
}
#krug{
	position:absolute;
	background: url(../img/krug.png);
	background-repeat:no-repeat;
	width:450px;
	height:442px;
	margin:170px 0 0 600px;
}
#krug2{
	position:absolute;
	background: url(../img/krug2.png);
	background-repeat:no-repeat;
	width:450px;
	height:442px;
	margin:170px 0 0 600px;
}
#why{
	position:absolute;
	margin-top:215px;
	font:2em ZagBoldRegular;
	color:#fff;
}
#why span{
	font:0.7em HelveticaNeueCyrThin;
	color:#C91617;
	vertical-align:4.3px;
}
#guote_l, #guote_r{
 	position:absolute; 
 	margin:570px 0 0 90px;
	color:#838282;	
	font:5em ZagBoldRegular;
	cursor:pointer;
}
#guote_l:hover, #guote_r:hover{color:#fff;}
#guote_r{margin-left:121px;}
#point{
	position:absolute;
	background: url(../img/points.svg);
	/* background-position:top left; */
	background-repeat:no-repeat;
	width:43px;
	height:10px;
	margin:650px 0 0 94px;
	padding:0;
	zoom:1;
	/* border:solid 1px; */
}

/*_____ gray ________________________________________*/

li {
	text-decoration:none;
	list-style:none;
	margin:-16px 0 20px 0; 
	float:left;
	width:100px;
	height:30px;
	padding-top:7px;
	text-align:center;
	font:1.1em ZagBoldRegular;
	cursor:pointer;
	display:block;
}
#butons #li1, #butons #li2{
	position:relative;
	-moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5); /* Параметры тени */
}
#butons #li1{
	background-color:#000;
	margin-left:37px;
}
#butons #li2{
	background-color:#000;
}
#gray{
	background:#373532;
	clear:both;
	zoom:1;
}
#tabs1, #tabs2{
	display:none;
	padding:0 75px;
	margin-top:60px;
	height:460px;
	zoom:1;
}
#spec{
	font:2em ZagBoldRegular;
	color:#fff;
}
#spec span{
	font:0.6em HelveticaNeueCyrThin;
	color:#C91617;
	vertical-align:6px;
}
#text2{
	color:#D1D3D4;	
	font:0.9em HelveticaNeueCyrRoman;
	line-height:1.4em;	
}

/*_____ futer ________________________________________*/

.cvet{
vertical-align:-4px;
margin: 7px 10px 0 10px;
width:18px;
height:17px;
border:none; 
}
#futer{
	margin:0px 0 0px 77px;
	height:75px;
	font:1em HelveticaNeueCyrThin;
	color:#A3A3A3;
}
#copir{	
	font:0.5em HelveticaNeueCyrRoman;
	color:#A3A3A3;
	line-height:28px;
}
#futer a:link{
	color:#A3A3A3;
	text-decoration:none; 
	outline: none;
}
#futer a:visited {
	color:#fff;
}
#futer a:hover{
	color:#fff;
}





