/*_____common________________________________________*/

html, body{
	height:100%;
}
body{
	margin:0;
}
#container{
	width:1200px;
	height:768px;
	margin:0 auto;
	background:#373532;
}
#black{
	width:1200px;
	height:687px;
	margin:0;
	background:#0f1111 url(../img/top.png);
	background-repeat:no-repeat;
	box-shadow:0px 6px 8px rgba(0,0,0,0.5); /* Параметры тени */
    -moz-box-shadow: 0 6px 8px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 6px 8px rgba(0,0,0,0.5); /* Для Safari и Chrome */
}

#main{
	overflow:hidden;
	width:1050px;
	height:100%;
	margin:0 auto;
/* 	background:#ccc; */
}
#logo{
	background: url(../img/logo.png);
	background-repeat:no-repeat;
	width:453px;
	height:156px;
	position:absolute;
	margin-top:25px;
}
#corner{
	background: url(../img/corner.png);
	background-repeat:no-repeat;
	width:104px;
	height:83px;
	position:absolute;
	margin-left:1097px;
	/*margin-top:-1px;*/
}
#krug{
	position:absolute;
	background: url(../img/krug.png);
	background-repeat:no-repeat;
	width:441px;
	height:441px;
	margin:170px 0 0 612px;
}
#why{
	position:absolute;
	margin-top:219px;
	color:#fff;	
}
#why span{
	color:#C91617;
}
#text{
	position:absolute;
	margin-top:366px;
	width:548px;
	color:#fff;		
}
#guotes{
	position:absolute;
	margin-top:590px;
	color:#fff;	
	letter-spacing:0.2em;
}
#point{
	background: url(../img/point.svg);
	background-repeat:no-repeat;
	width:40px;
	height:14px;
	margin-top:640px;
	
}







